<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="/src/bpi-header.html">
<link rel="import" href="/src/bpi-footer.html">
<link rel="import" href="/src/bpi-cuenta/bpi-cuenta.html">



<!--<script src="index.js" charset="utf-8"></script>  -->
<link rel="stylesheet" href="style.css">
<dom-module id="bpi-productos">
  <template>
      <style>
      #general{
          background-color:#CED0D6;
          width:100%;
          height:50%;
          border-radius:8px;
        /**  border:2px solid #2B59C4;*/
          float:left;
          margin-right:17px;
          margin-top:5px;
        }
        #letreros{
          width:100%;
          float:left;
        }

        #cuerpo{
          width:100%;
          height:100%;
          margin:9px auto;
          margin-bottom:4px;
        }
        #izquierda{
          /*background-color:#8499C7;*/
          width:20%;
          float:left;
          text-align:center;
        }
        #articulo1{
          margin:0 auto;
          background-color:#B8C2DA;

        }
        #articulo2{
          margin:5px auto;
          background-color:#B8C2DA;

        }
        #derecha{
          background:white;
          /*background-color:#B8C2DA;*/
          width:80%;
          float:right;
          border-radius:6px;
          text-align:left;
        }


        #inf_adi{
          clear:both;
          margin-bottom:20px;
        }
        #exemple{
          width:100%;
        /*  background-color:rgba(255,255,255,0.4); */
          box-shadow:0px 0px 3px white;
          padding:10px;
          border-radius:7px;
          margin-top:22px;
          margin-bottom:29px;
          margin-left:auto;
          margin-right:auto;
        }
        .sufijo1{
          font-size:12px;
          padding-left:30px;
          padding-bottom:35px;
          margin-top:-16px;
        }
        #centro{
          width:100%;
          display:block;
          margin:0 auto;
          margin-top:16px;
          margin-bottom:45px;
        }

        .accordion-container {
            width: 100%;
            clear:both;
        }

        div.submenu {
          text-align: center;
          text-transform: uppercase;
        /*  opacity: 0.5;
          filter: alpha(opacity=50);  For IE8 and earlier */
        }

        div.submenu:hover {
        /*  opacity: 1.0;
          filter: alpha(opacity=100);  For IE8 and earlier */
          background-color:#22c08a;
        }


      </style>

    <!--  <bpi-header></bpi-header> -->
      <bpi-header pname ="{{pnombre}}" sname ="{{snombre}}" papel ="{{papellido}}" sapel ="{{sapellido}}"></bpi-header>
      <div id="cuerpo">

        <div id="izquierda" style="box-shadow: 0px 0px 0px;">
          <div id="menu" class="submenu" on-click="bProductos"  >Mis productos</div>
          <div id="menu" class="submenu" on-click="bPerfil">Mi Pefil</div>
        </div>
        <div id="derecha" style="box-shadow: 0px 0px 0px;">
          
          <div class="articulo1">
            <h4>Productos contratados por el cliente:</h4>

                <iron-list items="{{posts}}" as="post">
                  <template>
                    <div class="accordion-container">
                      <div class="item" align="left">
                          <bpi-cuenta index ="{{index}}" prod_cont_prod_descripcion ="{{post.prod_contrato.prod_cont_producto.prod_cont_prod_descripcion}}" prod_cont_entidad ="{{post.prod_contrato.prod_cont_entidad}}" prod_cont_centro ="{{post.prod_contrato.prod_cont_centro}} " prod_cont_prod_codigo ="{{post.prod_contrato.prod_cont_producto.prod_cont_prod_codigo}}" prod_cont_cuenta ="{{post.prod_contrato.prod_cont_cuenta}}" saldoscta="{{post.prod_saldos}}" tarjeta="{{post.prod_tarjeta}}" movimientos="{{post.prod_movimientos}}" limitecta="{{post.prod_saldos.prod_sald_limite}}" limitetja="{{post.prod_tarjeta.prod_tarj_saldos.prod_tarj_sald_limite}}"></bpi-cuenta>
                      </div>
                    </div>
                  </template>
                </iron-list>






            </div>
        </div>
      </div>
      <bpi-footer></bpi-footer>

    <!--  <bpi-header></bpi-header> -->
      <iron-ajax auto
        id="getPerson"
        url="http://localhost:3000/apiperu/v1/productos/{{sessionID}}"
        handle-as="json"
        last-response="{{posts}}">


  </template>
      <script>
        if(sessionStorage.length==0){
          /*  location.href="/login";*/
        }
        var data = JSON.parse(sessionStorage.getItem("bankPeloteros"));
        var idsesion=data["id"];
        var nombres =data["nombres"];
        var pnombre=nombres.pers_nomb_pNom;
        var snombre=nombres.pers_nomb_sNom;
        var papellido=nombres.pers_nomb_pApe;
        var sapellido=nombres.pers_nomb_sApe;


        class BpiProductos extends Polymer.Element {
         static get is() { return 'bpi-productos'; }
         static get properties() {
           return {
             sessionID: {
               type: String,
               value: idsesion
             }, userPassw: {
               type: String
             }, errorClave: {
               type: String
             },pnombre:{
               type: String,
               value: pnombre
             },snombre:{
               type: String,
               value: snombre
             },papellido:{
               type: String,
               value: papellido
             },sapellido:{
               type: String,
               value: sapellido
             }

           };
         }

         bProductos(){
           console.log("bproductos");
           let urlProductos= "/productos";
           location.href=urlProductos;
         }

         bPerfil(){
           console.log("bPerfil");
           let urlPerfil= "/perfil";
           location.href=urlPerfil;
         }



       }




      window.customElements.define(BpiProductos.is, BpiProductos);
    </script>
</dom-module>
