#general{
			background-color:#CED0D6;
			width:440px;
			height:328px;
			border-radius:8px;
			border:2px solid #2B59C4;
			float:left;
			margin-right:17px;
			margin-top:5px;
		}
		#letreros{
			width:100%;
			float:left;
		}
		#cabecera_IMG{
			background-color:#9AA9CA;
			width:434px;
			height:50px;
			border-radius:6px;
			position:relative;
			margin:0 auto;
			top:5px;
		}
		#cabecera_txt{
			width:230px;
			float:left;
			text-align:center;
			line-height:45px;
		}
		#enlaces{
			float:left;
			background-color:#728CC9;
			width:199px;
			height:40px;
			border-radius:6px;
			margin:5px auto;
			line-height:34px;
			text-align:center;
		}
		#cuerpo{
			width:430px;
			height:200px;
			margin:9px auto;
			margin-bottom:4px;
		}
		#izquierda{
			background-color:#8499C7;
			width:300px;
			height:200px;
			float:left;
			border-radius:6px;
			text-align:center;
			line-height:50px;
		}
		#articulo1{
			margin:0 auto;
			background-color:#B8C2DA;
			width:290px;
			height:50px;
			border-radius:6px;
			line-height:46px;
		}
		#articulo2{
			margin:5px auto;
			background-color:#B8C2DA;
			width:290px;
			height:85px;
			border-radius:6px;
			line-height:68px;
		}
		#derecha{
			background:#768AB3;
			width:126px;
			height:200px;
			float:right;
			border-radius:6px;
			text-align:center;
			line-height:160px;
		}
		#final{
			background-color:#9EAECD;
			width:430px;
			height:60px;
			border-radius:6px;
			display:table;
			margin:0 auto;
		}
		#final_txt{
			text-align:center;
			display:table-cell;
			vertical-align:middle;
		}
		footer{
			clear:both;
		}
		#inf_adi{
			clear:both;
			margin-bottom:20px;
		}
		#exemple{
			width:100%;
			background-color:rgba(255,255,255,0.4);
			box-shadow:0px 0px 3px white;
			padding:10px;
			border-radius:7px;
			margin-top:22px;
			margin-bottom:29px;
			margin-left:auto;
			margin-right:auto;
		}
		.sufijo1{
			font-size:12px;
			padding-left:30px;
			padding-bottom:35px;
			margin-top:-16px;
		}
		#centro{
			width:100%;
			display:block;
			margin:0 auto;
			margin-top:16px;
			margin-bottom:45px;
		}
