<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html" />
<link rel="import" href="/src/visor-persona/visor-persona.html">
<link rel="import" href="/src/test-demo/test-demo.html">
<link rel="import" href="/src/test-demo-dos/test-demo-dos.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <!-- Inside the template -->
        <h5>IRON PAGES TEST</h5>
        <input value="{{componentName::input}}" placeholder="Select component">
        <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
          <div component-name="lista"><visor-persona></visor-persona></div>
          <div component-name="datos"><test-demo-dos></test-demo-dos></div>
          <div component-name="los-dos"><test-demo-dos></test-demo-dos><visor-persona></visor-persona></div>
          <div component-name="page-not-found"><page-not-found ></page-not-found></div>
        </iron-pages>


      </template>
      <script>
      /**
       * @customElement
       * @polymer
       */
       // Don't forget the <script> tags!.
        class TestIronPages extends Polymer.Element {
         static get is() { return 'test-iron-pages'; }
         static get properties() {
           return {
             componentName: {
               type: String
             }
           };
         }
        }
      window.customElements.define(TestIronPages.is, TestIronPages);
    </script>
</dom-module>
