<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-router/app-router.html" />

<dom-module id="app-router-encaminador">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h2>Mi id es [[id]]</h2>
    <h3>y me llamo [[name]]</h3>

    <iron-list items="[[showData]]" as="item">
      <template>
        <div tabindex$="[[tabIndex]]">
          Name: [[item.ID]]
        </div>

      </template>
    </iron-list>

    <iron-ajax auto
      id="getPerson"
      url="https://services.odata.org/V4/OData/OData.svc/Persons"
      handle-as="json"
      on-response="showData">



  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class AppRouterEncaminador extends Polymer.Element {
        static get is() { return 'app-router-encaminador'; }
        static get properties() {
          return {
            name: {
              type: String
            }, id: {
              type: Number
            }
          };
        }

        showData(data) {
          console.log("showData");
          console.log(data.detail.response);
          this.id = data.detail.response.value[0].ID;
          this.name = data.detail.response.value[0].Name;
        }
      }


      window.customElements.define(AppRouterEncaminador.is, AppRouterEncaminador);
    </script>
</dom-module>
