<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../test-demo-tres/test-demo-tres.html">

<dom-module id="test-demo">
  <template>
    <style>
      :host {display: block;
        background-color: orange;
        color: white;
      }
      table, th, td {
        border: 1px solid black;
      }
    </style>
    <table >
      <tr>
        <th>Objetivo</th>
        <td>[[courseSubject]]</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>[[courseName]]</td>
      </tr>
      <tr>
      <!--   <td> Se puede anidar componentes (Se tiene que importar link real=....)
           <test-demo-dos></test-demo-dos>

          </td> -->

        <th>Duraciòn</th>
        <td>[[courseDuration]]</td>
      </tr>
    </table>


  </template>

  <script>
    class TestDemoTres extends Polymer.Element {
      static get is() {
        return 'test-demo-tres';
      }
      static get properties() {
        return {
          courseSubject: {
            type: String
          }, courseName: {
            type: String
          }, courseDuration: {
            type: Number
          }
        };
      };
      saludar(){
        console.log('Saludos DarL');
      }
    }

    window.customElements.define(TestDemoTres.is, TestDemoTres);
  </script>
</dom-module>
