<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html" />
<link rel="import" href="/src/visor-persona/visor-persona.html">
<link rel="import" href="/src/test-demo/test-demo.html">
<link rel="import" href="/src/test-demo-dos/test-demo-dos.html">


<!--<script src="index.js" charset="utf-8"></script>  -->
<dom-module id="bpi-cuenta">
  <template>
      <style>
        .accordion-titulo {
            position: relative;
            display: block;
            padding: 20px;
            font-size: 20px;
            font-weight: 300;
            background: #2c3e50;
            color: #fff;
            text-decoration: none;
        }
        .accordion-titulo.open {
            background: #16a085;
            color: #fff;
        }
        .accordion-titulo:hover {
            background: #1abc9c;
        }

        .accordion-titulo span.toggle-icon:before {
            content:"+";
        }

        .accordion-titulo.open span.toggle-icon:before {
            content:"-";
        }

        .accordion-titulo span.toggle-icon {
            position: absolute;
            top: 10px;
            right: 20px;

            font-weight:bold;
        }

        .accordion-content {
            display: none;
            padding: 20px;
            overflow: auto;
        }

        .accordion-content p{
            margin:0;
        }

        .accordion-content img {
            display: block;
            float: left;
            margin: 0 15px 10px 0;
            width: 50%;
            height: auto;
        }

        .panel {
            display: none;
            padding: 0 18px;
          /*  background-color: white;*/
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
        .movimientos{
          overflow:auto;
          font-family:helvetica;
          font-size:14px;
          text-align: justify;
          text-decoration: none;
        }

        .movimientos.open {
            background: #16a085;
            color: #fff;
        }
        .movimientos:hover {
            background: #1abc9c;
        }


        #resumen{
          overflow:auto;
          font-family:helvetica;
          font-size:14px;
          text-align: justify;

        }

        //

      </style>

    <!--  <bpi-header></bpi-header> -->
        <div id="cuenta"on-click="verDetalle" class="accordion-titulo" style="cursor: pointer;"> {{prod_cont_prod_descripcion}} : {{prod_cont_entidad}}-{{prod_cont_centro}}-{{prod_cont_prod_codigo}}{{prod_cont_cuenta}}<span class="toggle-icon">{{descripcionTexto}}</span></div>

            <div id=resumen align="center" style="height:155px; overflow:auto; width:100%; display:{{verResumen}};">
                <table style="width:50%">
                  <tr>
                    <td Colspan="4"> <meter min="0" max="{{saldoscta.prod_sald_limite}}" low="25%" high="75%" optimum="100%" value="{{tarjeta.prod_tarj_saldos.prod_tarj_sald_consumido}}" style="width:100%;" title="Disponible S/. {{saldodisponible}}">  </td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <th>Límite de la Cuenta</th>
                    <td>S/. {{saldoscta.prod_sald_limite}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <th>Límite de la tarjeta</th>
                	  <td>S/. {{tarjeta.prod_tarj_saldos.prod_tarj_sald_limite}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Importe consumido</th>
                    <td>S/. {{tarjeta.prod_tarj_saldos.prod_tarj_sald_consumido}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Saldo disponible</th>
                	  <td>S/. {{saldodisponible}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                </table>
            </div>
            <div   id="movimientos" align="center" style="height:127px; overflow:auto; width:100%; display:{{verMovimientos}};">
                <table style="width:50%" align="left">
                  <tr align="left">
                    <th align="center">Nro</td>
                    <th>Fecha</td>
                    <th>Detalle</th>
                    <th>Importe</td>


                  </tr>
                  <template is="dom-repeat" items="{{movimientos}}" as="movimiento">
                      <tr class="movimientos" style="cursor: pointer;"  on-mouseover="mostrarVerMovimiento" on-moseout="ocultarVerMovimiento" on-click="bMovimiento" >
                        <td align="center">{{movimiento.prod_movi_numero}}</td>
                        <td>{{movimiento.prod_movi_momento.prod_movi_mome_fecha}}</td>
                        <td>{{movimiento.prod_movi_comercio}}</th>
                    	  <td>S/. {{movimiento.prod_movi_monto.prod_movi_mont_importe}}</td>
                      </tr>
                  </template>
                </table>
            </div>



    <!--  <bpi-header></bpi-header> -->


  </template>
      <script>
        class BpiCuenta extends Polymer.Element {
         static get is() { return 'bpi-cuenta'; }
         static get properties() {
           return {
             index: {
               type: String
             },prod_cont_prod_descripcion: {
               type: String
             }, prod_cont_entidad: {
               type: String
             }, prod_cont_centro: {
               type: String
             },prod_cont_prod_codigo: {
               type: String
             },prod_cont_cuenta: {
               type: String
             },detalle: {
               type: String
             },verResumen: {
               type: String
             },verMovimientos: {
               type: String,
               value: "none"
             },descripcionTexto: {
               type: String,
               value: "Ver movimientos"
             },tarjeta:{
               type: Object
             },saldoscta:{
               type: Object
             }, movimientos:{
               type: Array
             },limitetja:{
               type:Number
             },limitecta:{
               type:Number
             },saldodisponible:{
               type:Number,
               value:0
             }
           };
         }

         mostrarVerMovimiento(){
           this.vermovimiento ="ver";
         }

         ocultarVerMovimiento(){
           this.vermovimiento = "";
         }

         bMovimiento(dos){
           let urlMovimiento= "/productos/movimiento/"+this.prod_cont_prod_codigo+"/"+dos.model.__data.movimiento.prod_movi_numero+"/"+this.prod_cont_cuenta;
           location.href=urlMovimiento;
           console.log();

           console.log("Movimiento: "+dos.model.__data.movimiento.prod_movi_numero);
          console.log("..../");

         }

         bIngresar(){
           var alerta="alert";
           console.log(alerta);
         }

          verDetalle() {
            console.log(this.prod_movimientos);


          var saldoDisponibleTja =0;
          if(this.saldoscta.prod_sald_limite < (this.tarjeta.prod_tarj_saldos.prod_tarj_sald_limite - this.tarjeta.prod_tarj_saldos.prod_tarj_sald_consumido)){
            saldoDisponibleTja = this.saldoscta.prod_sald_limite;
          } else{
            saldoDisponibleTja = this.tarjeta.prod_tarj_saldos.prod_tarj_sald_limite - this.tarjeta.prod_tarj_saldos.prod_tarj_sald_consumido;
          }
          this.saldodisponible=saldoDisponibleTja;
          console.log(this.movimientos);


        //  this.saldos = JSON.parse(this.objeto);
            if(this.verResumen == "block"){
              this.verResumen = "none";
              this.verMovimientos = "block";
              this.descripcionTexto="Ver resumen"
            }else{
              this.verResumen = "block";
              this.verMovimientos = "none";
              this.descripcionTexto="Ver movimientos"
            }
          console.log("salio");

         }
       }
      window.customElements.define(BpiCuenta.is, BpiCuenta);
    </script>
</dom-module>
