<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="bpi-header">
  <template>
    <style>
        #cabecera_IMG{
          background-color:#22c08a;
          width:100%;
          height:55px;
          border-radius:3px;
          position:relative;
          margin:0 auto;
          top:0px;
        }
        #cabecera_txt{
          width:60%;
          float:left;
          text-align:left;
          line-height:40px;

          transform: translate(1%, 8%);
        }
        #enlaces{
          float:left;
          background-color: #1eaa7a;
          width:40%;
          height:45px;
          border-radius:6px;
          margin:5px auto;
          line-height:34px;
          text-align:center;
        }



        button:hover {
        background-color: #26d69a;
        }

        button:active {
        background-color: #1eaa7a;
        }
    </style>
    <div id="cabecera_IMG" style="box-shadow: 0px 0px 0px;">
      <div id="cabecera_txt">
        <img src="https://s3.sa-east-1.amazonaws.com/machupicchubank/techU/logo.jpg" width="90" height="45" />
      </div>
      <div id="enlaces" style="box-shadow: 0px 0px 0px;">
      Bienvenido [[papel]] [[sapel]], [[pname]] [[sname]]
      <button on-click="bSalir" style="cursor: pointer;">Cerrar sesiòn</button>
      </div>
    </div>

  </template>
  <script>
      var user ="uno";

      class BpiHeader extends Polymer.Element {
        static get is() { return 'bpi-header'; }
        static get properties() {
          return {
            pname: {
              type: String
            }, sname: {
              type: String
            }, papel: {
              type: String
            }, sapel: {
              type: String
            }
          };
        }

        bSalir(){
          sessionStorage.clear();
          location.href="/login";
        }
      };

      window.customElements.define(BpiHeader.is, BpiHeader);
    </script>
</dom-module>
