<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="bpi-footer">
  <template>
    <style>
      #final{
        background-color: #22c08a;
        width:100%;
        height:60px;
        border-radius:6px;
        display:table;
        margin:0 auto;
      }
      #final_txt{
        text-align:center;
        display:table-cell;
        vertical-align:middle;
      }
      footer{
        clear:both;
      }
    </style>

    <div id="final" style="  box-shadow: 0px 0px 0px;">
      <div id="final_txt">
      &lt;footer&gt;
      </div>
    </div>

  </template>
  <script>
      var user ="uno";
      class BpiFooter extends Polymer.Element {
        static get is() { return 'bpi-footer'; }
        static get properties() {
          return {
            name: {
              type: String
            }, id: {
              type: Number
            }
          };
        }
      };

      window.customElements.define(BpiFooter.is, BpiFooter);
    </script>
</dom-module>
