 <link rel="import" href="../../bower_components/polymer/polymer-element.html">
 <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
 <link rel="import" href="../../bower_components/iron-list/iron-list.html" />

 <dom-module id="inicio-bpi">
   <template>
     <style>
     .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }

      .button2 {
        background-color: white;
        color: black;
        border: 2px solid #008CBA;
      }

      .button2:hover {
        background-color: #008CBA;
        color: white;
      }
     </style>

     <h3 align="center">BANCO MACHU PICCHU</h3>
     <table align="center">
        <tr>
            <th><button class="button button2" onclick="location.href='/comprar';">COMPRAR</button></th>
            <th><button class="button button2" onclick="location.href='/login';">INGRESAR</button></th>
        </tr>
      </table>

   </template>
   <script>
       var user ="uno";
       class InicioBpi extends Polymer.Element {
         static get is() { return 'inicio-bpi'; }
         static get properties() {
           return {
             name: {
               type: String
             }, id: {
               type: Number
             }
           };
         }
       };

       window.customElements.define(InicioBpi.is, InicioBpi);
     </script>
 </dom-module>
