<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="/src/bpi-header.html">
<link rel="import" href="/src/bpi-footer.html">
<link rel="import" href="/src/bpi-cuenta/bpi-cuenta.html">


<dom-module id="bpi-perfil">
  <template>
      <style>
      #general{
          background-color:#CED0D6;
          width:100%;
          height:50%;
          border-radius:8px;
        /**  border:2px solid #2B59C4;*/
          float:left;
          margin-right:17px;
          margin-top:5px;
        }
        #letreros{
          width:100%;
          float:left;
        }

        #cuerpo{
          width:100%;
          height:100%;
          margin:9px auto;
          margin-bottom:4px;
        }
        #izquierda{
          /*background-color:#8499C7;*/
          width:20%;
          float:left;
          text-align:center;
        }

        #derecha{
          background:white;
          width:80%;
          float:right;
          border-radius:6px;
          text-align:left;
        }

        div.submenu {
          text-align: center;
          text-transform: uppercase;
        /*  opacity: 0.5;
          filter: alpha(opacity=50);  For IE8 and earlier */
        }

        div.submenu:hover {
        /*  opacity: 1.0;
          filter: alpha(opacity=100);  For IE8 and earlier */
          background-color:#22c08a;
        }

        #map {
          height: 100%;
        }

        button {
        display: block;
        width: 100px;
        height: 40px;
        padding: 0;
        margin: 10px 20px 10px;
        font-weight: 700;
        color: #fff;
        background-color: #22c08a;
        border: none;
        border-radius: 20px;
        transition: background-color .10s ease-in-out;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        }

        button:hover {
        background-color: #26d69a;
        }

        button:active {
        background-color: #1eaa7a;
        }

        button:focus {
        outline: none;
        }


        .respuesta {
          color: red;

        }


      </style>

    <!--  <bpi-header></bpi-header> -->
      <bpi-header pname ="{{pnombre}}" sname ="{{snombre}}" papel ="{{papellido}}" sapel ="{{sapellido}}"></bpi-header>
      <div id="cuerpo">

        <div id="izquierda" style="box-shadow: 0px 0px 0px;">
          <div id="menu" class="submenu" on-click="bProductos">Mis productos</div>
          <div id="menu" class="submenu" on-click="bPerfil">Mi Pefil</div>
        </div>
        <div id="derecha" style="box-shadow: 0px 0px 0px;">


            <div>
              <table cellspacing="0" border="0">
                <tr>
                  <td colspan="4" style=" background-color: rgb(184, 194, 218); "><b>Datos del cliente</b></td>
                </tr>
                <tr>
                  <td><b>Nombre:</b></td>
                  <td colspan="3">{{papellido}} {{sapellido}}, {{pnombre}} {{snombre}}</td>
                </tr>
                <tr>
                  <td><b>Tipo documento:</b></td>
                  <td>{{tipDocumento}}</td>
                  <td><b>Nro. documento:</b></td>
                  <td>{{nroDocumento}}</td>
                </tr>
                <tr>
                  <td><b>Tipo persona:</b></td>
                  <td>{{tipPersona}}</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><b>Paìs:</b></td>
                  <td>{{residPais}}</td>
                  <td><b>Deparamento:</b></td>
                  <td>{{residProvincia}}</td>

                </tr>
                <tr>
                  <td><b>Provincia:</b></td>
                  <td>{{residProvincia}}</td>
                  <td><b>Distrito:</b></td>
                  <td>{{residDistrito}}</td>
                </tr>

                <tr>
                  <td><b>Direcciòn(*):</b></td>
                  <td>
                    <select>
                      <option value="{{residTipo::input}}" selected>{{residTipo::input}}</option>
                      <option value="Av.">Av.</option>
                      <option value="Jr.">Jr.</option>
                      <option value="Cl.">Cl.</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </td>
                  <td><input type="text" id="residDireccion" value="{{residDireccion::input}}" placeholder="Nombre" required></td>
                  <td><input type="text" id="residNumero" value="{{residNumero::input}}" placeholder="Nùmero" required></td>
                </tr>
                <tr>
                  <td><b>Celular(*):</b></td>
                  <td><input type="text" id="celular" value="{{celular::input}}" placeholder="Nro celular" required></td>
                  <td><b>Email(*):</b></td>
                  <td><input type="text" id="email" value="{{email::input}}" placeholder="Email" required></td>
                </tr>
                <tr>
                  <td><b>Contraseña actual(*):</b></td>
                  <td><input type="password" id="contraseña" value="{{clave::input}}"  required></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><b>Nueva clave (Opcional)</b></td>
                  <td><input type="password" id="contraseñaNew" value="{{claveNew::input}}"  required></td>
                  <td><b>Repetir nueva clave</b></td>
                  <td><input type="password" id="contraseñaNew" value="{{claveNewRep::input}}"  required></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><button on-click="bGuardar">Guardar</button></td>
                  <td><button on-click="bCancelar">Cancelar</button></td>
                </tr>
                <tr class="respuesta">
                  <td>&nbsp;</td>
                  <td colspan="3"><b>{{mensajeRsta}}</b></td>
                </tr>
              </table>
            </div>
        </div>
      </div>
      <bpi-footer></bpi-footer>

    <!--  <bpi-header></bpi-header> -->
        <iron-ajax auto
          id="getPersona"
          url="http://localhost:3000/apiperu/v1/perfil/{{sessionID}}"
          handle-as="json"
          on-response="showData">

          <iron-ajax
            id="_updatePersona"
            url="http://localhost:3000/apiperu/v1/perfil/actualizar/{{sessionID}}/{{residTipo}}/{{residDireccion}}/{{residNumero}}/{{email}}/{{celular}}/{{clave}}/{{claveNew}}"
            handle-as="json"
            on-response="actualizaPersona">

  </template>

      <script>
        var data = JSON.parse(sessionStorage.getItem("bankPeloteros"));
        var idsesion=data["id"];
        var nombres =data["nombres"];
        var pnombre=nombres.pers_nomb_pNom;
        var snombre=nombres.pers_nomb_sNom;
        var papellido=nombres.pers_nomb_pApe;
        var sapellido=nombres.pers_nomb_sApe;

        class BpiPerfil extends Polymer.Element {
         static get is() { return 'bpi-perfil'; }
         static get properties() {
           return {
             sessionID: {
               type: String,
               value: idsesion
             },pnombre:{
               type: String,
               value: pnombre
             },snombre:{
               type: String,
               value: snombre
             },papellido:{
               type: String,
               value: papellido
             },sapellido:{
               type: String,
               value: sapellido
             },tipDocumento:{
               type: String,
             },nroDocumento:{
               type: String
             },tipPersona:{
               type: String
             },residPais:{
               type: String
             },residDepartamento:{
               type: String
             },residProvincia:{
               type: String
             },residDistrito:{
               type: String
             },residDireccion:{
               type: String
             },residNumero:{
               type: String
             },residTipo:{
               type: String
             },email:{
               type: String
             },celular:{
               type: String
             },clave:{
               type: String
             },mensajeRsta:{
               type: String
             },claveNew:{
               type: String
             },claveNewRep:{
               type: String
             }
           };
         }


         showData(data) {
           console.log("responde OK");
           this.mensajeRsta =data.detail.response[0].msj;
           console.log(this.mensajeRsta);
           this.tipDocumento=data.detail.response[0].pers_documento.pers_docu_tipo;
           this.nroDocumento=data.detail.response[0].pers_documento.pers_docu_nume;
           this.tipPersona=data.detail.response[0].pers_tipPersona;
           this.residPais=data.detail.response[0].pers_lugRecidencia.pers_reci_pais;
           this.residDepartamento=data.detail.response[0].pers_lugRecidencia.pers_reci_depa;
           this.residProvincia=data.detail.response[0].pers_lugRecidencia.pers_reci_prov;
           this.residDistrito=data.detail.response[0].pers_lugRecidencia.pers_reci_dist;
           this.residDireccion=data.detail.response[0].pers_lugRecidencia.pers_reci_dire.pers_reci_dire_calle;
           this.residNumero=data.detail.response[0].pers_lugRecidencia.pers_reci_dire.pers_reci_dire_nume;
           this.residTipo=data.detail.response[0].pers_lugRecidencia.pers_reci_dire.pers_reci_dire_tipo;
           this.email=data.detail.response[0].pers_email;
           this.celular=data.detail.response[0].pers_celular;
           this.clave="";
           this.claveNew="";
           this.claveNewRep="";
         }

         bProductos(){
           let urlProductos= "/productos";
           location.href=urlProductos;
         }

         bPerfil(){
           let urlPerfil= "/perfil";
           location.href=urlPerfil;
         }

         bGuardar(){
           console.log("sessionID:"+this.sessionID);
           this.mensajeRsta="";
           var passw=this.clave;
           if(passw == undefined || passw=='') {
              this.mensajeRsta = 'Ingrese contraseña actual.';
            } else {
              if( this.residTipo == undefined || this.residTipo =='' ||
                  this.residDireccion == undefined || this.residDireccion =='' ||
                  this.residNumero == undefined  || this.residNumero =='' ||
                  this.email == undefined || this.email ==''||
                  this.celular == undefined || this.celular==''){
                    this.mensajeRsta = 'Ingrece campos obligatorios (*).';
              }else{
                console.log("="+this.claveNew+"="+this.claveNewRep+"=");
                if((this.claveNew != undefined || this.claveNew !='') &&   this.claveNewRep != this.claveNew){
                      this.mensajeRsta = 'Los campos de la nueva clave deben ser iguales.';
                }else{
                  if(this.claveNew == passw){
                    this.mensajeRsta = 'La nueva clave deber ser distinta a la actual.';
                  }else{
                    this.mensajeRsta="Guardando...";
                    if(this.claveNew ==''){
                      this.claveNew ='N0';
                    }
                    this.$._updatePersona.generateRequest();
                    if(this.claveNew =='N0'){
                      this.claveNew ='';
                    }
                  }
                }
              }
            }
         }

         bCancelar(){
           let urlProductos= "/productos";
           location.href=urlProductos;
         }

         actualizaPersona(data){
           console.log("actualizaPersona: responde OK");
           this.mensajeRsta =data.detail.response[0].msj;
           this.clave="";
           this.claveNew="";
           this.claveNewRep="";
         }

       }


      window.customElements.define(BpiPerfil.is, BpiPerfil);
    </script>
</dom-module>
