<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="/src/bpi-header.html">
<link rel="import" href="/src/bpi-footer.html">
<link rel="import" href="/src/bpi-cuenta/bpi-cuenta.html">


<dom-module id="bpi-movimiento">
  <template>
      <style>
      #general{
          background-color:#CED0D6;
          width:100%;
          height:50%;
          border-radius:8px;
        /**  border:2px solid #2B59C4;*/
          float:left;
          margin-right:17px;
          margin-top:5px;
        }
        #letreros{
          width:100%;
          float:left;
        }

        #cuerpo{
          width:100%;
          height:100%;
          margin:9px auto;
          margin-bottom:4px;
        }
        #izquierda{
          /*background-color:#8499C7;*/
          width:20%;
          float:left;
          text-align:center;
        }

        #derecha{
          background:white;
          width:80%;
          float:right;
          border-radius:6px;
          text-align:left;
        }

        div.submenu {
          text-align: center;
          text-transform: uppercase;
        /*  opacity: 0.5;
          filter: alpha(opacity=50);  For IE8 and earlier */
        }

        div.submenu:hover {
        /*  opacity: 1.0;
          filter: alpha(opacity=100);  For IE8 and earlier */
          background-color:#22c08a;
        }

        #map {
          height: 100%;
        }


      </style>

    <!--  <bpi-header></bpi-header> -->
      <bpi-header pname ="{{pnombre}}" sname ="{{snombre}}" papel ="{{papellido}}" sapel ="{{sapellido}}"></bpi-header>
      <div id="cuerpo">

        <div id="izquierda" style="box-shadow: 0px 0px 0px;">
          <div id="menu" class="submenu" on-click="bProductos">Mis productos</div>
          <div id="menu" class="submenu" on-click="bPerfil">Mi Pefil</div>
        </div>
        <div id="derecha" style="box-shadow: 0px 0px 0px;">


            <div>
              <table cellspacing="0" border="0">
                <tr>
                  <td colspan="3" style=" background-color: rgb(184, 194, 218);"><b>Detalles del movimiento</b></td>
                </tr>
                <tr>
                  <td>Nùmero</td>
                  <td>{{movientoNro}}</td>
                  <td rowspan="6">
                    <div id="map">
                      <img src='https://maps.googleapis.com/maps/api/staticmap?center=-12.0904116,-77.0163573&size=600x300&markers=color:red%7C-12.0904116,-77.0163573&key=AIzaSyCfHj3btAYGUdC7TrY0EPdamITjwPt2FWc'>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Importe</td>
                  <td>{{movientoMoneda}} {{movientoImporte}}</td>
                </tr>
                <tr>
                  <td>Fecha / hora:</td>
                  <td>{{movientoFecha}} / {{movientoHora}}</td>
                </tr>
                <tr>
                  <td>Referencia</td>
                  <td>{{movientoReferencia}}</td>
                </tr>
                <tr>
                  <td>Cuotas</td>
                  <td>{{movientoCuotas}}</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
      <bpi-footer></bpi-footer>

    <!--  <bpi-header></bpi-header> -->
        <iron-ajax auto
          id="getMovimiento"
          url="http://localhost:3000/apiperu/v1/producto/movimiento/{{sessionID}}/{{idproducto}}/{{idmovimiento}}/{{idcuenta}}"
          handle-as="json"
          on-response="showData">

  </template>

      <script>
      console.log("/Movimiento");
      console.log("sessionStorage.length: "+sessionStorage.length);
        if(sessionStorage.length==0){
          /*  location.href="/login";*/
        }
        var data = JSON.parse(sessionStorage.getItem("bankPeloteros"));
        var idsesion=data["id"];
        var nombres =data["nombres"];
        var pnombre=nombres.pers_nomb_pNom;
        var snombre=nombres.pers_nomb_sNom;
        var papellido=nombres.pers_nomb_pApe;
        var sapellido=nombres.pers_nomb_sApe;

        var pathname = window.location.pathname;
        var arrayUrl= pathname.split("/"); var urlProducto=arrayUrl[3];var urlMovimiento=arrayUrl[4];var urlCuenta=arrayUrl[5];
        console.log(urlProducto+":"+urlMovimiento+":"+urlCuenta);



        class BpiMovimientos extends Polymer.Element {
         static get is() { return 'bpi-movimiento'; }
         static get properties() {
           return {
             sessionID: {
               type: String,
               value: idsesion
             },pnombre:{
               type: String,
               value: pnombre
             },snombre:{
               type: String,
               value: snombre
             },papellido:{
               type: String,
               value: papellido
             },sapellido:{
               type: String,
               value: sapellido
             },idproducto:{
               type: String,
               value: urlProducto
             },idmovimiento:{
               type: String,
               value: urlMovimiento
             },idcuenta:{
               type: String,
               value: urlCuenta
             },movientoNro:{
               type: String
             },movientoMoneda:{
               type: String
             },movientoImporte:{
               type: String
             },movientoFecha:{
               type: String
             },movientoHora:{
               type: String
             },movientoReferencia:{
               type: String
             },movientoCuotas:{
               type: String
             },movientoLatitud:{
               type: String
             },movientoLongitud:{
               type: String
             }
           };
         }


         showData(data) {
           console.log("responde OK");
        //   var output = document.getElementById('map');
//imgURL = "https://maps.googleapis.com/maps/api/staticmap?center=-11.947212799999999,-77.0629632&size=600x300&markers=color:red%7C-11.947212799999999,-77.0629632&key=AIzaSyCfHj3btAYGUdC7TrY0EPdamITjwPt2FWc";
           //output.innerHTML ="<img src='https://maps.googleapis.com/maps/api/staticmap?center=-11.947212799999999,-77.0629632&size=600x300&markers=color:red%7C-11.947212799999999,-77.0629632&key=AIzaSyCfHj3btAYGUdC7TrY0EPdamITjwPt2FWc'>";

           let objMovimiento=data.detail.response[0].prod_movimientos;

           let moviArray=urlMovimiento-1;
            this.movientoNro=objMovimiento[moviArray].prod_movi_numero;
            this.movientoMoneda=objMovimiento[moviArray].prod_movi_monto.prod_movi_mont_moneda;
            this.movientoImporte=objMovimiento[moviArray].prod_movi_monto.prod_movi_mont_importe;
            this.movientoFecha=objMovimiento[moviArray].prod_movi_momento.prod_movi_mome_fecha;
            this.movientoHora=objMovimiento[moviArray].prod_movi_momento.prod_movi_mome_hora;
            this.movientoReferencia=objMovimiento[moviArray].prod_movi_comercio;
            this.movientoLatitud=objMovimiento[moviArray].prod_movi_geoLocalizacion.prod_movi_geol_Latitud;
            this.movientoLongitud=objMovimiento[moviArray].prod_movi_geoLocalizacion.prod_movi_geol_Longitud;
            this.movientoCuotas=objMovimiento[moviArray].prod_movi_cuotas.length;
            console.log(this.movientoLatitud);
            console.log(this.movientoLongitud);

         }

         bProductos(){
           console.log("bproductos");
           let urlProductos= "/productos";
           location.href=urlProductos;
         }

         bPerfil(){
           console.log("bPerfil");
           let urlPerfil= "/perfil";
           location.href=urlPerfil;
         }

       }


      window.customElements.define(BpiMovimientos.is, BpiMovimientos);
    </script>
</dom-module>
