<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="simulador-compras">
  <template>
      <style>
        *, *:before, *:after {
            box-sizing: border-box;
            }

            html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
            }


            .errorClave {

            }

            .row {
            display: none;
            }

            input:focus,
            button:focus {
            outline: none;
            }

            button {
            display: block;
            width: 240px;
            height: 40px;
            padding: 0;
            margin: 10px 20px 10px;
            font-weight: 700;
            color: #fff;
            background-color: #22c08a;
            border: none;
            border-radius: 20px;
            transition: background-color .10s ease-in-out;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            }

            button:hover {
            background-color: #26d69a;
            }

            button:active {
            background-color: #1eaa7a;
            }

            p {
            display: inline-block;
            width: 200px;
            margin: 0 40px;
            font-size: .8rem;
            color: red;
            /*background-color: yellow;*/
            }

            p a {
            color: #fff;
            }

            label,
            p a:hover {
            -webkit-cursor: pointer;
            cursor: pointer;
            }

            @-webkit-keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
            }

            @keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
            }
      </style>
      <div class="container">
      <!--  <div id="login" class="login" style="opacity: 1; display: block; transform: translateY(0px);">
          <div class="login-icon-field" >
                <img src="imagen/logo_bank.jpg"  width="265" height="150" />

          </div>
          <p class="errorClave">[[errorClave]]</p>
            <div class="login-form">
              <div class="username-row row" style="opacity: 1; display: block; transform: translateX(0px);">
                <label for="username_input">
                <svg version="1.1" class="user-icon" x="0px" y="0px" viewBox="-255 347 100 100" xml:space="preserve" height="36px" width="30px">
                  <path class="user-path" d="
                  M-203.7,350.3c-6.8,0-12.4,6.2-12.4,13.8c0,4.5,2.4,8.6,5.4,11.1c0,0,2.2,1.6,1.9,3.7c-0.2,1.3-1.7,2.8-2.4,2.8c-0.7,0-6.2,0-6.2,0
                  c-6.8,0-12.3,5.6-12.3,12.3v2.9v14.6c0,0.8,0.7,1.5,1.5,1.5h10.5h1h13.1h13.1h1h10.6c0.8,0,1.5-0.7,1.5-1.5v-14.6v-2.9
                  c0-6.8-5.6-12.3-12.3-12.3c0,0-5.5,0-6.2,0c-0.8,0-2.3-1.6-2.4-2.8c-0.4-2.1,1.9-3.7,1.9-3.7c2.9-2.5,5.4-6.5,5.4-11.1
                  C-191.3,356.5-196.9,350.3-203.7,350.3L-203.7,350.3z"></path>
                </svg>
                </label>
                <input type="text" id="username" value="{{userName::input}}" placeholder="Usuario" required>

              </div>
              <div class="password-row row" style="opacity: 1; display: block; transform: translateX(0px);">
                <label for="password_input">
                <svg version="1.1" class="password-icon" x="0px" y="0px" viewBox="-255 347 100 100" height="36px" width="30px">
                  <path class="key-path" d="M-191.5,347.8c-11.9,0-21.6,9.7-21.6,21.6c0,4,1.1,7.8,3.1,11.1l-26.5,26.2l-0.9,10h10.6l3.8-5.7l6.1-1.1
                  l1.6-6.7l7.1-0.3l0.6-7.2l7.2-6.6c2.8,1.3,5.8,2,9.1,2c11.9,0,21.6-9.7,21.6-21.6C-169.9,357.4-179.6,347.8-191.5,347.8z"></path>
                </svg>
                </label>
                <input type="password" id="password" value="{{userPassw::input}}" placeholder="Contraseña" required>
              </div>
            </div>
            <div class="call-to-action">
              <button on-click="bIngresar">Ingresar</button>
              <p>¿No recuerdas tu contraseña?<a>Click aqui!</a></p>
            </div>

        </div>  -->
        <table style="width:100%" border="1" >
          <tr>
            <th colspan="4" style="width:50%" align="Center">Simulador de catalogo</th>
            <th>&nbsp;</th>
            <th colspan="4" align="Center">Simulador de compras</th>
          </tr>
          <tr>
          	<td colspan="4" style="vertical-align:baseline;">
                  <iron-list items="{{productos}}" as="producto">
                    <template>
                      <table  border="0">
                        <tr align="Center">
                          <th WIDTH="20"> ID</th>
                          <th WIDTH="250">Producto</th>
                          <th WIDTH="70">Precio</th>
                          <th WIDTH="30">Accion</th>
                        </tr>
                        <tr align="Center">
                          <td>{{index}}</td>
                          <td>{{producto.nombre}} <br><img src="{{producto.imagen}}" title="{{producto.descipcion}}"  height="60" width="60"></td>
                          <td>{{producto.moneda}}{{producto.precio}}</td>
                          <td><button on-click="bAgregar" title="Agregar" style='width:70px; height:25px'>+</button></td>
                        </tr>
                      </table>
                    </template>
                  </iron-list>


            </td>
            <td></td>
            <td colspan="4" align="right">
            	<table style="width:90%" >
                	<tr>
                    	<td colspan="3">Datos de la compra</td>
            			    <td></td>
                    </tr>
                    <tr align="right">
                      <th colspan="2" width="50px">Producto</th>
                      <th width="50px" align="center">Cantidad</th>
                      <th width="100px" align="center">Precio</th>
                    </tr>
                    <template is="dom-repeat" items="{{prodComprados}}" as="prodComprado">
                        <tr align="right">
                          <td colspan="2" width="50px">{{prodComprado.producto}}</td>
                          <td width="50px" align="center">{{prodComprado.cantidad}}</th>
                      	  <td width="50px" align="left">{{moneda}} {{prodComprado.precio}}</td>
                        </tr>
                    </template>
                    <tr align="center">
                      <td colspan="2">&nbsp;</td>
                      <td><strong>Total</strong></td>
                      <td align="left"><strong>{{moneda}} {{importe}}</strong></td>
                    </tr>

                </table>
                <table style="width:90%" >
                	<tr>
                    	<td colspan="3">Datos de pago</td>

                  </tr>
                  <tr>
                    	<td width="50px">&nbsp;</td>
                      <td width="100px">Nro. Tarjeta *</td>
                      <td width="50px"> <input type="text" id="txttarjeta" value="{{tarjeta::input}}" placeholder="Nro de la tarjeta" required></td>

                  </tr>
                  <tr>
                    	<td>&nbsp;</td>
                      <td>Fec. Vencimiento *</td>
                      <td><input type="text" id="txtvencim" value="{{vencimiento::input}}" placeholder="Fecha de vencimiento" required> MM/AA</td>

                  </tr>
                  <tr>
                    	<td>&nbsp;</td>
                      <td>CCV *</td>
                      <td><input type="text" id="txtcodigo" value="{{codigo::input}}" placeholder="CCV" required></td>

                  </tr>
                  <tr>
                    	<td>&nbsp;</td>
                      <td>Nombre titular *</td>
                      <td><input type="text" id="txttitular" value="{{nombre::input}}" placeholder="Nombre del titular" required></td>

                  </tr>
                  <tr>
                    	<td>&nbsp;</td>
                      <td>Email *</td>
                      <td><input type="text" id="txtemail" value="{{email::input}}" placeholder="Email" required></td>

                  </tr>
                  <tr>
                    	<td>&nbsp;</td>
                      <td colspan="3" align="center"><div class="call-to-action">
                            <button on-click="bPagar">Pagar</button>
                            <p>{{mensajeInformativo}} </p><a href="/login" style="display:{{irLogin}};">ver movimientos aqui!</a>
                          </div>
                      </td>

                  </tr>

                </table>
            </td>
          </tr>

        </table>
      </div>

      <iron-ajax auto
        id="getTienda"
        url="http://localhost:3000/apiperu/v1/tienda/productos"
        handle-as="json"
        last-response="{{productos}}">

        <iron-ajax
          id="setPagar"
          url="http://localhost:3000/apiperu/v1/comprar/{{tarjeta}}/{{vencimiento}}/{{codigo}}/{{importe}}/PEN/{{comercio}}/{{latitud}}/{{longitud}}"
          handle-as="json"
          on-response="rptaPagar">

  </template>
      <script>
        console.log("/tienda");
        var tempLongitud;
        var tempLatitud;
        class SimuladorCompras extends Polymer.Element {
         static get is() { return 'simulador-compras'; }
         static get properties() {
           return {
             productos1:{
               type:Object
             }, prodComprados:{
               type: Array,
               value: function() { return []; }
             }, prodCompradosNew:{
               type: Array,
               value: function() { return []; }
             }, tarjeta:{
               type:String
             }, vencimiento:{
               type:String
             }, codigo:{
               type:String
             }, nombre:{
               type:String
             }, email:{
               type:String
             }, importe:{
               type:Number,
               value:0
             }, moneda:{
               type:String,
               value:"S/."
             }, mensajeInformativo:{
               type:String
             }, longitud:{
               type:String
             }, latitud:{
               type:String
             }, comercio:{
               type:String
             }, irLogin:{
               type:String,
               value:"none"
             }
           };
         }



         bAgregar(evento){
           if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(this.localizacion,this.error);
           }
           this.prodCompradosNew.splice(0, this.prodCompradosNew.length);
           var arrayCodigo =evento.model.__data.producto.codigo;
           var arrayNombre =evento.model.__data.producto.nombre;
           var arrayPrecio =evento.model.__data.producto.precio;
           if(this.prodComprados.length == 0){
             this.importe=parseFloat(arrayPrecio);
             this.comercio=arrayNombre;
             this.push('prodComprados', {"codigo":arrayCodigo,"producto":arrayNombre,"cantidad":1,"precio":arrayPrecio});
           }else{
             let i;
             var existe ="no";
             for (i = 0; i < this.prodComprados.length; i++) {
               var catidadProducto=this.prodComprados[i].cantidad;
                if(this.prodComprados[i].codigo == arrayCodigo){
                  existe="si";
                  catidadProducto=catidadProducto+1;
                  this.importe+= parseFloat(arrayPrecio);
                  this.push('prodCompradosNew', {"codigo":this.prodComprados[i].codigo,"producto":this.prodComprados[i].producto,"cantidad":catidadProducto,"precio":this.prodComprados[i].precio});
                }else{
                  this.push('prodCompradosNew', {"codigo":this.prodComprados[i].codigo,"producto":this.prodComprados[i].producto,"cantidad":this.prodComprados[i].cantidad,"precio":this.prodComprados[i].precio});
                  this.importe+= parseFloat(arrayPrecio);
                }
             }

             if (existe=="no") {
               this.push('prodComprados', {"codigo":arrayCodigo,"producto":arrayNombre,"cantidad":1,"precio":arrayPrecio});
               this.push('prodCompradosNew', {"codigo":arrayCodigo,"producto":arrayNombre,"cantidad":1,"precio":arrayPrecio});
             }

             this.prodComprados=this.prodCompradosNew;

           }


         }
         bPagar(evento){
           this.mensajeInformativo ="";

           if(this.importe == undefined  || this.importe == ''){
             this.mensajeInformativo = 'Agregar productos del catàlogo.';
           }else{
             if(this.tarjeta == undefined || this.tarjeta=='' ||
                this.vencimiento == undefined  || this.vencimiento == ''  ||
                this.codigo == undefined  || this.codigo == ''  ||
                this.nombre == undefined  || this.nombre == ''  ||
                this.email == undefined  || this.email == ''  ||
                this.moneda == undefined  || this.moneda == '' ) {
                  this.mensajeInformativo = 'Completar todos los campos obligatorios(*)';
              } else {
                console.log("ok");
                if(tempLatitud  == undefined || tempLatitud =='' ||
                   tempLongitud == undefined || tempLongitud ==''){
                    this.latitud="0";
                    this.longitude="0"
                }else{
                    this.latitud=tempLatitud;
                    this.longitud=tempLongitud;
                }
                let fecVencim=this.vencimiento;
                this.vencimiento =this.vencimiento.slice(0, 2)+this.vencimiento.slice(3, 5);
                this.$.setPagar.generateRequest();
                this.mensajeInformativo="Validando...";
                this.vencimiento=fecVencim;
              }
           }
         }

         rptaPagar(data){

           this.mensajeInformativo="";
           this.tarjeta ="";
           this.vencimiento="";
           this.codigo="";
           this.nombre="";
           this.email="";
           this.moneda="";
           this.importe="";

           this.mensajeInformativo=data.detail.response[0].msj;
           if(data.detail.response[0].msj == "Compra realizada con exito."){
             this.irLogin ="block";
           }
         }

         localizacion(posicion){
           tempLatitud = String(posicion.coords.latitude);
				   tempLongitud= String(posicion.coords.longitude);
         }
         error(){
           console.log("entro a error");
         }
        }
      window.customElements.define(SimuladorCompras.is, SimuladorCompras);
    </script>
</dom-module>
