<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<script src="index.js" charset="utf-8"></script>
<link rel="stylesheet" href="style.css">
<dom-module id="bpi-login">
  <template>
      <style>
        *, *:before, *:after {
            box-sizing: border-box;
            }

            html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
            }

            .login {
            max-width: 280px;
            min-height: 500px;
            margin: 30px auto;
            background-color: rgba(10,10,10,.68);
            }

            .login-icon-field {

              transform: translate(3%, 5%);

            /*background-color: red;*/
            }

            .login-icon {
            margin: 50px 65px;
            }

            .login-form {
            padding: 8px 20px 20px;
            height: 120px;
            width: 100%;
            /*background-color: green;*/
            }

            .errorClave {

            }

            .row {
              display: none;
            }

            .username-row {
              position: relative;
              height: 40px;
              border-bottom: 1px solid;
              margin-bottom: 10px;
            }

            .password-row {
              position: relative;
              height: 40px;
              border-bottom: 1px solid;
            }

            .password-icon,
            .user-icon {
              margin: 5px;
            }

            .password-icon .key-path,
            .user-icon .user-path{
              fill: rgba(10,10,10,0);
              stroke: #fff;
              stroke-width: 3.5;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
              stroke-dasharray: 300;
              stroke-dashoffset: 300;
              -webkit-animation: dash 3s .3s linear forwards;
              animation: dash 3s .3s linear forwards;
            }

            .user-icon .user-path {
              -webkit-animation: dash 3s .8s linear forwards;
              animation: dash 3s .8s linear forwards;
            }

            input {
              position: absolute;
              width: 195px;
              height: 30px;
              margin: 5px 0;
              background: transparent;
              border: none;
            }

            input:focus,
            button:focus {
              outline: none;
            }

            input::-webkit-input-placeholder {
              color: rgba(255,255,255,.4);
            }

            input::-moz-placeholder {
              color: rgba(255,255,255,.4);
            }

            .call-to-action {
              margin: 22px 0;
              height: 130px;
              width: 100%;
            /*background-color: blue;*/
            }

            button {
              display: block;
              width: 240px;
              height: 40px;
              padding: 0;
              margin: 10px 20px 10px;
              font-weight: 700;
              color: #fff;
              background-color: #22c08a;
              border: none;
              border-radius: 20px;
              transition: background-color .10s ease-in-out;
              -webkit-user-select:none;
              -moz-user-select:none;
              -ms-user-select:none;
              user-select:none;
            }

            button:hover {
              background-color: #26d69a;
            }

            button:active {
              background-color: #1eaa7a;
            }

            p {
              display: inline-block;
              width: 200px;
              margin: 0 40px;
              font-size: .8rem;
              color: rgba(255,255,255,.4);
            /*background-color: yellow;*/
            }

            p a {
              color: #fff;
            }

            label,
            p a:hover {
              -webkit-cursor: pointer;
              cursor: pointer;
            }

            @-webkit-keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
            }

            @keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
            }
      </style>
      <div class="container">
        <div id="login" class="login" style="opacity: 1; display: block; transform: translateY(0px);">
          <div class="login-icon-field" >
                <img src="https://s3.sa-east-1.amazonaws.com/machupicchubank/techU/logo_bank.jpg"  width="265" height="150" />
                <!-- *Created by le garage studio from the Noun Project* -->

          </div>
          <p class="errorClave">[[errorClave]]</p>
            <div class="login-form">
              <div class="username-row row" style="opacity: 1; display: block; transform: translateX(0px);">
                <label for="username_input">
                <svg version="1.1" class="user-icon" x="0px" y="0px" viewBox="-255 347 100 100" xml:space="preserve" height="36px" width="30px">
                  <path class="user-path" d="
                  M-203.7,350.3c-6.8,0-12.4,6.2-12.4,13.8c0,4.5,2.4,8.6,5.4,11.1c0,0,2.2,1.6,1.9,3.7c-0.2,1.3-1.7,2.8-2.4,2.8c-0.7,0-6.2,0-6.2,0
                  c-6.8,0-12.3,5.6-12.3,12.3v2.9v14.6c0,0.8,0.7,1.5,1.5,1.5h10.5h1h13.1h13.1h1h10.6c0.8,0,1.5-0.7,1.5-1.5v-14.6v-2.9
                  c0-6.8-5.6-12.3-12.3-12.3c0,0-5.5,0-6.2,0c-0.8,0-2.3-1.6-2.4-2.8c-0.4-2.1,1.9-3.7,1.9-3.7c2.9-2.5,5.4-6.5,5.4-11.1
                  C-191.3,356.5-196.9,350.3-203.7,350.3L-203.7,350.3z"></path>
                </svg>
                </label>
                <input type="text" id="username" value="{{userName::input}}" placeholder="Email" required>

              </div>
              <div class="password-row row" style="opacity: 1; display: block; transform: translateX(0px);">
                <label for="password_input">
                <svg version="1.1" class="password-icon" x="0px" y="0px" viewBox="-255 347 100 100" height="36px" width="30px">
                  <path class="key-path" d="M-191.5,347.8c-11.9,0-21.6,9.7-21.6,21.6c0,4,1.1,7.8,3.1,11.1l-26.5,26.2l-0.9,10h10.6l3.8-5.7l6.1-1.1
                  l1.6-6.7l7.1-0.3l0.6-7.2l7.2-6.6c2.8,1.3,5.8,2,9.1,2c11.9,0,21.6-9.7,21.6-21.6C-169.9,357.4-179.6,347.8-191.5,347.8z"></path>
                </svg>
                </label>
                <input type="password" id="password" value="{{userPassw::input}}" placeholder="Contraseña" required>
              </div>
            </div>
            <div class="call-to-action">
              <button on-click="bIngresar">Ingresar</button>
              <p>¿No recuerdas tu contraseña?<a>Click aqui!</a></p>
            </div>

        </div>
      </div>

      <iron-ajax
        id="_id"
        url="http://localhost:3000/apiperu/v1/login/{{userName}}/{{userPassw}}"
        handle-as="json"
        on-response="showData">

  </template>
      <script>

        sessionStorage.clear();
        console.log("/login");
        console.log(sessionStorage.length);
        class BpiLogin extends Polymer.Element {
         static get is() { return 'bpi-login'; }
         static get properties() {
           return {
             userName: {
               type: String
             }, userPassw: {
               type: String
             }, errorClave: {
               type: String
             }
           };
         }

         showData(data) {
           if(data.detail.response[0].pers_email == "pers_email"){
             this.errorClave = "Usuario o clave invalida";
             this.userName = "";
             this.userPassw = "";
           }else{
             this.userName = data.detail.response[0].pers_email;
             this.userPassw = data.detail.response[0].password;
             this.errorClave = "Redireccionando...";

             var valor = {
                "nombres":data.detail.response[0].pers_nombre,
                "id":data.detail.response[0]._id.$oid
              };
             sessionStorage.setItem("bankPeloteros", JSON.stringify(valor));
             location.href="/productos";
           }
         }

         bIngresar(){
           sessionStorage.clear();
           var user=this.userName;
           var passw=this.userPassw;
           if(user == undefined || user=='' || passw == undefined  || passw == '') {
              this.errorClave = 'Usuario y contraseña requeridos.';
            } else {
              this.errorClave="";
              this.$._id.generateRequest();
            }
         }
        }
      window.customElements.define(BpiLogin.is, BpiLogin);
    </script>
</dom-module>
