<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="visor-persona">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h2>...</h2>
    <iron-list items="{{posts}}" as="post">
        <template>
            <div class="item">
                <b>#{{index}} - {{post.title}}</b>
                <p>{{post.body}}</p>
            </div>
        </template>
    </iron-list>
        <h2>...</h2>

    <iron-ajax auto
      id="getPerson"
      url="http://jsonplaceholder.typicode.com/posts/"
      handle-as="json"
      last-response="{{posts}}">


      </template>
      <script>
      /**
       * @customElement
       * @polymer
       */
      class VisorPersona extends Polymer.Element {
        static get is() { return 'visor-persona'; }
      }


      window.customElements.define(VisorPersona.is, VisorPersona);
    </script>
</dom-module>
