<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-list/iron-list.html" />

<dom-module id="visor-persona">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input type="text" id="username" value="{{name::input}}" required>
    <button on-click="consulta" >Ingresar</button>

<visor-persona></visor-persona>
    <h2>Mi id es [[id]]</h2>
    <h3>y me llamo [[name]]</h3>

    <iron-ajax
      id="_id"
      url="http://localhost:3000/apiperu/v1/users/Katherinne/Castillo"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
      var user ="uno";
      class VisorPersona extends Polymer.Element {
        static get is() { return 'visor-persona'; }
        static get properties() {
          return {
            name: {
              type: String
            }, id: {
              type: Number
            }
          };

        }

        showData(data) {
          this.name = data.detail.response[0].first_name;
          this.id = data.detail.response[0].userID;
          user=data.detail.response[0].first_name;

        }

        consulta() {
          console.log("entro");
          user=this.name;
          console.log(user);
          this.$._id.generateRequest();
        }


      };


      window.customElements.define(VisorPersona.is, VisorPersona);


    </script>
</dom-module>
