<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../iron-icon/iron-icon.html">

<dom-module id="icon-taggle">
  <template>
    <style>
      /* local styles go here */
      :host {
        display: inline-block;
      }
      iron-icon {
        fill: var(--icon-toggle-color, rgba(0,0,0,0));
        stroke: var(--icon-toggle-outline-color, currentcolor);
      }
      :host([pressed]) iron-icon {
        fill: var(--icon-toggle-pressed-color, currentcolor);
      }
    </style>
    <!-- shadow DOM goes here -->
    <span>Not much here yet.</span>
    <iron-icon icon="[[toggleIcon]]" on-click="toggle"></iron-icon>
  </template>

    <script>
      class IconToggle extends Polymer.Element {
        static get is() {
          return 'icon-toggle';
        }
        static get properties() {
          return {
            pressed: {
              type: Boolean,
              notify: true,
              reflectToAttribute: true,
              value: false
            },
            toggleIcon: {
              type: String
            }
          }
        }
        constructor() {
          super();
        }
        toggle() {
          this.pressed = !this.pressed;
        }
      }

      customElements.define(IconToggle.is, IconToggle);
    </script>
</dom-module>
