<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="test-demo-dos">
  <template>
    <style>
      :host {display: block;
        background-color: blue;
        color: white;
      }
    </style>
    <table style="width:100%">
      <tr>
        <th><input type="text" value="{{nombre::input}}"/></th>
        <th><p>Hola soy [[nombre]]</p></th>
        <th></th>
      </tr>
      <tr>
        <td><input type="range" min="18" max="100" value="{{edad::input}}"/></td>
        <td><p>y mi edad es: [[edad]]</p></td>
        <td><visor-curso  course-subject = " Polymer "  course-name = " Web Components and Polymer "  course-duration = " 1 " > </visor-curso >
</td>
      </tr>
    </table>
  </template>

  <script>
    class TestDemoDos extends Polymer.Element {
      static get is() {
        return 'test-demo-dos';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Perù...'
          },
          prop2: {
            type: Number,
            value: 2
          },
          nombre: {
            type: String,
            value: 'Darlin'
          },
          edad: {
            type: Number,
            value: 20
          }
        };
      };
      saludar(){
        console.log('Saludos DarL');
      }
    }

    window.customElements.define(TestDemoDos.is, TestDemoDos);
  </script>
</dom-module>
